h1 {color:lightcoral;}

h2 {color:lightcoral;}

p {color: black;
font-weight: bold;}

.contents {font-weight: bold;
font-size: 15px;}

.ingredients {background-color: pink;}

.steps {background-color: pink;}